<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
>>>>>>> 323ed8c55a4c3d4ab4d94459df3dbbb884424305
}
